body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

header .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 40px;
    margin-left: 25px;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
    margin-right: 40px;
}

header a {
    text-decoration: none;
    font-weight: lighter;
    color: #fff;
}

/*Está en pruebas, puede borrarse más adelante*/
header a:hover {
    text-decoration: none;
    font-weight: lighter;
    color: gainsboro;
}

header {
    /*background: rgb(4,78,255);*/
    /*background: rgb(23, 23, 24);*/
    /*background: linear-gradient(90deg, rgba(4,78,255,0.9) 0%, rgba(4,78,255,0.9) 100%);*/
    background: linear-gradient(90deg, rgba(29, 29, 29, 0.9) 0%, rgba(30, 30, 31, 0.9) 100%);/*Especial 13 aniversario*/
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/*Inicia main-inicio*/
/*Probar agregar un 'margin-top: 19vh*/
#team-menu{
    padding-top: 70px;
}

#team-menu h1{
    font-size: 35px;
    margin-left: 40vh;
    margin-bottom: 70px;
}

#team-menu img{
    margin-top: 20px;
    margin-inline: 5%;
    width: 90%;
}

#final-bar{
    height: 300px;
    background-color: black;
}

#final-bar a{
    font-weight: bold;
    text-decoration: none;
    background-color: #0fbc03;
    padding-block: 3px;
    border-radius: 5px;
    padding-inline: 12px;
    margin-left: 670px;
    line-height: 300px;
    font-size: 22px;
    color:white ;
}

.videos{
    margin-left: 27vh;
    margin-bottom: 150px;
}

.pdf {
    margin-left: 65vh;
    padding-bottom: 20vh;
}